.form {
  display: flex;
  gap: 16px;
  margin: 48px 0;
}

.input {
  font-size: var(--font-size-input);
  color: var(--text-base);
  border-radius: 500px;
  border: 1px solid #c1c1c1;
  padding: 4px 16px;
  border: 0;
  height: 48px;
  transition: 0.2s;
  background-color: var(--input-fill);
  outline: none;
}

.input:focus,
.input:active {
  outline: 2px solid #225dff;
}

.qInput {
  width: 20em;
}

.yearInput {
  width: 4em;
}

.yearInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
